.DS_Store
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
**/nacl_build*/
**/non_nacl_build*/
**/example_dynamic_nacl
**/example_dynamic_non_nacl
**/example_static
**/example_thin_dynamic_nacl.os
**/example_thin_dynamic_nacl.so
**/example_thin_dynamic_nacl_main
**/example_thin_dynamic_nacl_main.o
**/example_dynamic_nacl_profiling
**/example_dynamic_non_nacl_profiling
test_out.jpeg
lib_example_dynamic_non_nacl.so
**/example_dynamic_nacl_fat_client
**/nacl_build_simd/
**/non_nacl_build_simd/
**/*.o
**/*~
/example_dynamic_nacl_32
/example_dynamic_nacl_64
/example_dynamic_non_nacl_32
/example_dynamic_non_nacl_64
/example_static_32
/example_static_64
/.vscode/
**/native_wasm_test/
