*.o
/libmarkdown
/libmarkdown.a
/libmarkdown.nexe
/libmarkdown.pc
/libmarkdown.so
/blocktags
/branch
/makepage
/markdown
/mktags
/rlboxMain
/Makefile
/pandoc_headers
/theme
/cols
/echo
/mkd2html
/config.cmd
/config.h
/config.log
/config.mak
/config.md
/config.sed
/config.sub
/librarian.sh
/mkdio.h
/version.c
install_dir/
